In [59]:
import pandas as pd
from datetime import datetime
import os

# Path to the directory containing chunk files
folder_path = r"C:\Users\kusha\OneDrive\Desktop\Projects\DevDolphins\Blob files\Chunks"

# List all CSV files in the folder
csv_files = [os.path.join(folder_path, file) for file in os.listdir(folder_path) if file.endswith('.csv')]

# Read and concatenate all CSVs into one DataFrame
transactions_df = pd.concat([pd.read_csv(file) for file in csv_files], ignore_index=True)

# transactions_df = pd.read_csv(r"C:\Users\kusha\OneDrive\Desktop\Projects\DevDolphins\Blob files\Chunks\chunk_1_20250624_202535.csv")
customer_df = pd.read_csv(r"C:\Users\kusha\OneDrive\Desktop\Projects\DevDolphins\Blob files\customer data\customer data.csv")
customer_df

               Source         Target  Weight            typeTrans  fraud
0       'C1093826151'   'M348934600'    4.55  'es_transportation'      0
1        'C352968107'   'M348934600'   39.68  'es_transportation'      0
2       'C2054744914'  'M1823072687'   26.89  'es_transportation'      0
3       'C1760612790'   'M348934600'   17.25  'es_transportation'      0
4        'C757503768'   'M348934600'   35.72  'es_transportation'      0
...               ...            ...     ...                  ...    ...
594638  'C1753498738'  'M1823072687'   20.53  'es_transportation'      0
594639   'C650108285'  'M1823072687'   50.73  'es_transportation'      0
594640   'C123623130'   'M349281107'   22.44         'es_fashion'      0
594641  'C1499363341'  'M1823072687'   14.46  'es_transportation'      0
594642   'C616528518'  'M1823072687'   26.93  'es_transportation'      0

[594643 rows x 5 columns]

In [60]:
merged_df = transactions_df.merge(
    customer_df,
    how='inner',
    left_on=['customer', 'merchant', 'category','amount'],
    right_on=['Source', 'Target', 'typeTrans','Weight']
)
merged_df

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud_x,Source,Target,Weight,typeTrans,fraud_y
0,33,'C407936671','2','F','28007','M348934600','28007','es_transportation',46.22,0,'C407936671','M348934600',46.22,'es_transportation',0
1,33,'C957771834','4','M','28007','M1823072687','28007','es_transportation',4.76,0,'C957771834','M1823072687',4.76,'es_transportation',0
2,33,'C188991095','4','F','28007','M1823072687','28007','es_transportation',37.10,0,'C188991095','M1823072687',37.10,'es_transportation',0
3,33,'C2035341190','2','M','28007','M348934600','28007','es_transportation',40.04,0,'C2035341190','M348934600',40.04,'es_transportation',0
4,33,'C2035341190','2','M','28007','M348934600','28007','es_transportation',40.04,0,'C2035341190','M348934600',40.04,'es_transportation',0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111316,33,'C608244416','1','F','28007','M348934600','28007','es_transportation',37.18,0,'C608244416','M348934600',37.18,'es_transportation',0
111317,33,'C608244416','1','F','28007','M1823072687','28007','es_transportation',25.87,0,'C608244416','M1823072687',25.87,'es_transportation',0
111318,33,'C1031698099','0','M','28007','M1823072687','28007','es_transportation',49.90,0,'C1031698099','M1823072687',49.90,'es_transportation',0
111319,33,'C602544155','4','M','28007','M348934600','28007','es_transportation',17.03,0,'C602544155','M348934600',17.03,'es_transportation',0
111320,33,'C353985741','2','M','28007','M348934600','28007','es_transportation',17.95,0,'C353985741','M348934600',17.95,'es_transportation',0

In [61]:
from datetime import datetime

def detect_pattern2(transactions_df):
    detections = []

    # Step 1: Group by customer and merchant
    group = transactions_df.groupby(['customer', 'merchant']).agg(
        txn_count=('amount', 'count'),
        avg_amount=('amount', 'mean')
    ).reset_index()
    
    # Step 2: Filter on criteria
    filtered = group[( group['txn_count'] >= 80)&(group['avg_amount'] < 23)]

    # Step 3: Construct detection rows
    detection_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    y_start_time = detection_time  # assuming same for now

    for _, row in filtered.iterrows():
        print(f"txn_count: {row['txn_count']}, avg_amount: {row['avg_amount']}")

        detection = {
            "YStartTime": y_start_time,
            "detectionTime": detection_time,
            "patternId": "PatId2",
            "ActionType": "CHILD",
            "customerName": row['customer'],
            "MerchantId": row['merchant'],
            "txn_count": row['txn_count'],
        }
        detections.append(detection)

    return pd.DataFrame(detections)

In [62]:
detected_pat2_df = detect_pattern2(transactions_df)
print(detected_pat2_df.head())

Empty DataFrame
Columns: []
Index: []

In [63]:
detected_pat2_df

Empty DataFrame
Columns: []
Index: []